@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Rethink Sans', sans-serif;
  background-color: #1F160A;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}