@layer reset, base, tokens, recipes, utilities;

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');



body {
  font-family: 'Rethink Sans', sans-serif;
}